body {
  font-family: Anek Latin;
}
.display-1 {
  font-family: 'Anek Latin', sans-serif;
  font-size: 5.625rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.03125rem;
}
.display-2 {
  font-family: 'Anek Latin', sans-serif;
  font-size: 4.25rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.3125rem;
}
.display-4 {
  font-family: 'Anek Latin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Anek Latin', sans-serif;
  font-size: 3.125rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 3.90625rem;
}
.display-7 {
  font-family: 'Anek Latin', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.9375rem;
    font-size: calc( 2.61875rem + (5.625 - 2.61875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.61875rem + (5.625 - 2.61875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.5rem;
    font-size: calc( 1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ae5eff !important;
}
.bg-success {
  background-color: #c19c1c !important;
}
.bg-info {
  background-color: #8d59ff !important;
}
.bg-warning {
  background-color: #ffaa5c !important;
}
.bg-danger {
  background-color: #c06816 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ae5eff !important;
  border-color: #ae5eff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  border-color: #8207ff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #8207ff !important;
  border-color: #8207ff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffdd65 !important;
  border-color: #ffdd65 !important;
  color: #654f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  border-color: #ffca0e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #654f00 !important;
  background-color: #ffca0e !important;
  border-color: #ffca0e !important;
}
.btn-info,
.btn-info:active {
  background-color: #8d59ff !important;
  border-color: #8d59ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  border-color: #5102ff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5102ff !important;
  border-color: #5102ff !important;
}
.btn-success,
.btn-success:active {
  background-color: #c19c1c !important;
  border-color: #c19c1c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  border-color: #755f11 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #755f11 !important;
  border-color: #755f11 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffaa5c !important;
  border-color: #ffaa5c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  border-color: #ff7d05 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff7d05 !important;
  border-color: #ff7d05 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #c06816 !important;
  border-color: #c06816 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  border-color: #723e0d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #723e0d !important;
  border-color: #723e0d !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #212132 !important;
  border-color: #212132 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ae5eff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ae5eff !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ae5eff !important;
  border-color: #ae5eff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffdd65;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffdd65 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #654f00 !important;
  background-color: #ffdd65 !important;
  border-color: #ffdd65 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8d59ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #8d59ff !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #8d59ff !important;
  border-color: #8d59ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c19c1c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #c19c1c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #c19c1c !important;
  border-color: #c19c1c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffaa5c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffaa5c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffaa5c !important;
  border-color: #ffaa5c !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c06816;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #c06816 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #c06816 !important;
  border-color: #c06816 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #212132;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #212132 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #212132 !important;
  border-color: #212132 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fafafa !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ae5eff !important;
}
.text-secondary {
  color: #ffdd65 !important;
}
.text-success {
  color: #c19c1c !important;
}
.text-info {
  color: #8d59ff !important;
}
.text-warning {
  color: #ffaa5c !important;
}
.text-danger {
  color: #c06816 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #212132 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7b00f7 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #fec600 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #68540f !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4c00f2 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #f57500 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #64360c !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ae5eff;
}
.nav-tabs .nav-link:not(.active) {
  color: #212132;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #8d59ff;
}
.alert-warning {
  background-color: #ffaa5c;
}
.alert-danger {
  background-color: #c06816;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ae5eff;
  border-color: #ae5eff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ae5eff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ebd072;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #eea868;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Anek Latin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ae5eff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Anek Latin', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #ae5eff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ae5eff;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ae5eff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ae5eff;
  border-bottom-color: #ae5eff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ae5eff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffdd65 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ae5eff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .2s;
}
a:hover {
  background-image: none !important;
}
.container {
  max-width: 1440px;
  padding-left: 6vw;
  padding-right: 6vw;
}
@media (max-width: 991px) {
  .container {
    max-width: 80vw;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media (min-width: 1600px) {
  .container {
    padding-left: 96px;
    padding-right: 96px;
  }
}
.container-fluid {
  padding-left: 6vw;
  padding-right: 6vw;
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media (min-width: 1600px) {
  .container-fluid {
    padding-left: 96px;
    padding-right: 96px;
  }
}
.row {
  margin-left: -6vw;
  margin-right: -6vw;
}
.row > [class*="col"] {
  padding-left: 6vw;
  padding-right: 6vw;
}
@media (max-width: 767px) {
  .row {
    margin-left: -3vw;
    margin-right: -3vw;
  }
  .row > [class*="col"] {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
@media (min-width: 1600px) {
  .row {
    margin-left: -96px;
    margin-right: -96px;
  }
  .row > [class*="col"] {
    padding-left: 96px;
    padding-right: 96px;
  }
}
.row {
  justify-content: center;
}
.mbr-section-btn .btn {
  min-width: 100px;
  min-height: 40px;
  padding: 20px 40px;
  line-height: 1.55;
  font-weight: 500;
  transition-duration: .2s;
  border-radius: 0.75rem !important;
  box-shadow: none !important;
  border: none !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
.custom-mbr-section-btn {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.custom-section-btn {
  display: inline-block;
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8e59ff 99.93%);
  padding: 3px;
  position: relative;
  border-radius: 0.75rem !important;
  margin-top: 0.42rem;
  margin-left: 0.42rem;
}
.custom-section-btn::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem !important;
  background-image: linear-gradient(135deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61.75%, #8e59ff 99.93%);
  transition: all 300ms ease;
  transform: translate3d(-0.42rem, -0.42rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.custom-section-btn .btn {
  transform: translate3d(-0.42rem, -0.42rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  position: relative;
  z-index: 11;
  transform-style: preserve-3d;
  transition: all 300ms ease;
  border: none !important;
  margin: 0 !important;
  min-height: 106px;
  padding: 20px 40px;
}
@media (max-width: 767px) {
  .custom-section-btn .btn {
    padding: 12px 24px;
    min-height: 68px;
  }
}
.custom-section-btn:hover .btn {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.custom-section-btn:hover::after {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.cid-tmeYX3DQg3 {
  z-index: 1000;
  width: 100%;
}
.cid-tmeYX3DQg3 nav.navbar {
  position: fixed;
}
.cid-tmeYX3DQg3 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tmeYX3DQg3 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tmeYX3DQg3 .dropdown-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: .4s all !important;
}
.cid-tmeYX3DQg3 .dropdown-item:hover,
.cid-tmeYX3DQg3 .dropdown-item:focus {
  background: rgba(141, 89, 255, 0.5) !important;
  color: white !important;
}
.cid-tmeYX3DQg3 .dropdown-item:hover span {
  color: white;
}
.cid-tmeYX3DQg3 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tmeYX3DQg3 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tmeYX3DQg3 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
  text-align: center;
}
.cid-tmeYX3DQg3 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tmeYX3DQg3 .nav-link {
  position: relative;
}
.cid-tmeYX3DQg3 .container {
  display: flex;
  margin: auto;
  max-width: 1600px;
}
.cid-tmeYX3DQg3 .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0 !important;
}
.cid-tmeYX3DQg3 .iconfont-wrapper .mbr-iconfont {
  transition: .4s all;
}
.cid-tmeYX3DQg3 .iconfont-wrapper:hover .mbr-iconfont {
  color: #ae5eff;
}
.cid-tmeYX3DQg3 .dropdown-menu,
.cid-tmeYX3DQg3 .navbar.opened {
  background: #1a2229 !important;
}
.cid-tmeYX3DQg3 .nav-item:focus,
.cid-tmeYX3DQg3 .nav-link:focus {
  outline: none;
}
.cid-tmeYX3DQg3 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tmeYX3DQg3 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tmeYX3DQg3 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tmeYX3DQg3 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tmeYX3DQg3 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tmeYX3DQg3 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tmeYX3DQg3 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(26, 34, 41, 0);
  padding: 0 !important;
}
.cid-tmeYX3DQg3 .navbar.opened {
  transition: all 0.3s;
}
.cid-tmeYX3DQg3 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tmeYX3DQg3 .navbar .navbar-logo img {
  width: auto;
}
.cid-tmeYX3DQg3 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tmeYX3DQg3 .navbar.collapsed {
  justify-content: center;
}
.cid-tmeYX3DQg3 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tmeYX3DQg3 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tmeYX3DQg3 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tmeYX3DQg3 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tmeYX3DQg3 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tmeYX3DQg3 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tmeYX3DQg3 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tmeYX3DQg3 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tmeYX3DQg3 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tmeYX3DQg3 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tmeYX3DQg3 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tmeYX3DQg3 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tmeYX3DQg3 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tmeYX3DQg3 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tmeYX3DQg3 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tmeYX3DQg3 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-tmeYX3DQg3 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tmeYX3DQg3 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tmeYX3DQg3 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: flex-start;
  margin-right: 0;
  padding: 0 !important;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.cid-tmeYX3DQg3 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tmeYX3DQg3 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tmeYX3DQg3 .dropdown-item.active,
.cid-tmeYX3DQg3 .dropdown-item:active {
  background-color: transparent;
}
.cid-tmeYX3DQg3 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tmeYX3DQg3 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tmeYX3DQg3 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tmeYX3DQg3 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #1a2229;
}
.cid-tmeYX3DQg3 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tmeYX3DQg3 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tmeYX3DQg3 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tmeYX3DQg3 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tmeYX3DQg3 button.navbar-toggler {
  outline: none;
  width: 26px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tmeYX3DQg3 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 25px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tmeYX3DQg3 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tmeYX3DQg3 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tmeYX3DQg3 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tmeYX3DQg3 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tmeYX3DQg3 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tmeYX3DQg3 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tmeYX3DQg3 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tmeYX3DQg3 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tmeYX3DQg3 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tmeYX3DQg3 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tmeYX3DQg3 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tmeYX3DQg3 .navbar {
    height: 70px;
  }
  .cid-tmeYX3DQg3 .navbar.opened {
    height: auto;
  }
  .cid-tmeYX3DQg3 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tmeYX3DQg3 .header-item {
  width: 33.33333333%;
  padding: 10px 0;
}
.cid-tmeYX3DQg3 .navbar-toggler {
  margin-left: 10px;
}
.cid-tmeYX3DQg3 .hamburger-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 20px);
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #b84358;
}
.cid-tmeYX3DQg3 .navbar-logo {
  margin-right: 0 !important;
}
.cid-tmeYX3DQg3 .mbr-text {
  width: 100%;
  color: #BF9341;
}
@media (max-width: 575px) {
  .cid-tmeYX3DQg3 .mbr-text {
    display: none;
  }
}
.cid-tmeYX3DQg3 .navbar-collapse {
  padding-top: 40px !important;
}
.cid-tmeYX3DQg3 .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 575px) {
  .cid-tmeYX3DQg3 .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
}
.cid-taHEPfgYe8 {
  background-image: url("../../../assets/images/the-42-elevation-1740x960-c-center-1740x960.jpg");
}
.cid-taHEPfgYe8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-taHEPfgYe8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-taHEPfgYe8 .row {
  justify-content: left;
}
.cid-taHEPfgYe8 .mbr-section-title {
  color: #FFDD65;
}
.cid-taHEPfgYe8 .mbr-section-subtitle {
  color: #FFDD65;
  background-image: linear-gradient(90deg, currentColor 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8e59ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-taHEPfgYe8 .btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 96px;
}
@media (max-width: 991px) {
  .cid-taHEPfgYe8 .btn-container {
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
  }
}
.cid-taHEPfgYe8 .custom-mbr-section-btn {
  padding-bottom: 0.42rem;
}
@media (max-width: 991px) {
  .cid-taHEPfgYe8 .custom-mbr-section-btn {
    padding-bottom: 0;
  }
}
.cid-taHEPfgYe8 .custom-section-btn {
  height: 100%;
}
.cid-taHEPfgYe8 .custom-section-btn .btn {
  height: 100%;
}
.cid-taHEPfgYe8 .text-container {
  max-width: 384px;
  margin-left: 40px;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-taHEPfgYe8 .text-container {
    margin: 26px auto 0;
  }
}
.cid-taHEPfgYe8 .mbr-text {
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .cid-taHEPfgYe8 .mbr-text {
    text-align: center !important;
  }
}
.cid-taHEPfgYe8 .text-item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 26px;
}
@media (max-width: 991px) {
  .cid-taHEPfgYe8 .text-item-container {
    flex-wrap: wrap;
  }
}
.cid-taHEPfgYe8 .text-item {
  display: flex;
  align-items: center;
  max-width: 48%;
}
@media (max-width: 991px) {
  .cid-taHEPfgYe8 .text-item {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    margin-bottom: 6px;
  }
}
.cid-taHEPfgYe8 .icon-text {
  color: #ffffff;
  opacity: 0.6;
}
.cid-taHEPfgYe8 .iconfont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.cid-taHEPfgYe8 .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 24px;
  color: #ae5eff;
}
.cid-taHHBqK206 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #212132;
}
.cid-taHHBqK206 .mbr-fallback-image.disabled {
  display: none;
}
.cid-taHHBqK206 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-taHHBqK206 .container {
  max-width: 1600px;
}
.cid-taHHBqK206 .row {
  justify-content: center;
}
.cid-taHHBqK206 .content-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.cid-taHHBqK206 .title-container {
  width: 100%;
}
.cid-taHHBqK206 .mbr-section-title {
  color: #FFDD65;
  width: 100%;
}
.cid-taHHBqK206 .colored-text {
  line-height: inherit;
  color: inherit;
  color: #ae5eff;
}
.cid-taHHBqK206 .mbr-section-subtitle {
  color: #FFDD65;
  margin-top: 1.5rem;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 .mbr-section-subtitle {
    margin-top: 1rem;
  }
}
.cid-taHHBqK206 .btn-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  gap: 40px;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 .btn-container {
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 0;
  }
}
.cid-taHHBqK206 .text-container {
  max-width: 400px;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 .text-container {
    margin: 24px auto 0;
  }
}
.cid-taHHBqK206 .mbr-text {
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 .mbr-text {
    text-align: center !important;
  }
}
.cid-taHHBqK206 .text-item-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 26px;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 .text-item-container {
    flex-wrap: wrap;
  }
}
.cid-taHHBqK206 .text-item {
  display: flex;
  align-items: center;
  max-width: 48%;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 .text-item {
    max-width: 100%;
    width: 100%;
    justify-content: center;
    margin-bottom: 6px;
  }
}
.cid-taHHBqK206 .icon-text {
  color: #AE5EFF;
}
.cid-taHHBqK206 .iconfont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.cid-taHHBqK206 .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 24px;
  color: #ae5eff;
}
.cid-taHHBqK206 .form-container {
  max-width: 535px;
  margin-right: auto;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 .form-container {
    max-width: 100%;
    width: 100%;
  }
}
.cid-taHHBqK206 form {
  width: 100%;
}
.cid-taHHBqK206 form .dragArea.row {
  justify-content: flex-start;
  width: auto !important;
}
.cid-taHHBqK206 form p {
  color: #ffffff;
}
.cid-taHHBqK206 form .mbr-section-btn {
  width: max-content;
  max-width: 35%;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 form .mbr-section-btn {
    max-width: 100%;
    width: 100%;
  }
}
.cid-taHHBqK206 form .mbr-section-btn .btn {
  padding: 10px 35px;
  height: 100%;
  border-radius: 0.75rem !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 form .mbr-section-btn .btn {
    min-height: 64px;
    padding: 6px 24px;
    width: 100%;
    border-radius: 0.75rem !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
.cid-taHHBqK206 form .form-group {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  flex-grow: 1;
}
.cid-taHHBqK206 form .group-container {
  position: relative;
  width: 100%;
  padding: 0;
  margin-top: 0.42rem;
}
.cid-taHHBqK206 form .group-bg {
  position: absolute;
  border-radius: 0.75rem;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8a61ff 99.93%);
}
.cid-taHHBqK206 form .group-border {
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 6;
  padding: 3px;
  border-radius: 0.75rem;
  transition: all 300ms ease;
  background-image: linear-gradient(90deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8a61ff 99.93%);
  transform: translate3d(-0.42rem, -0.42rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.cid-taHHBqK206 form .group-border:hover {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
@media (max-width: 991px) {
  .cid-taHHBqK206 form .group-border {
    flex-wrap: wrap;
  }
}
.cid-taHHBqK206 form .form-control {
  min-height: 100px;
  height: 100%;
  border: none !important;
  background: #ffffff;
  box-shadow: none !important;
  border-radius: 0.75rem;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-bottom: 0;
  padding: 20px 40px;
  font-size: 24px;
  line-height: 32px;
  color: #212132;
  font-weight: 400;
}
@media (max-width: 991px) {
  .cid-taHHBqK206 form .form-control {
    min-height: 64px;
    padding: 6px 24px;
    width: 100%;
    border-radius: 0.75rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    text-align: center !important;
  }
}
.cid-taHHBqK206 form .form-control::-webkit-input-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form .form-control::-moz-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form .form-control:-moz-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form .form-control:-ms-input-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form .form-control:hover {
  outline: none !important;
}
.cid-taHHBqK206 form select {
  color: #939292 !important;
}
.cid-taHHBqK206 form textarea {
  height: 200px;
}
.cid-taHHBqK206 form input:active,
.cid-taHHBqK206 form textarea:active,
.cid-taHHBqK206 form input:focus,
.cid-taHHBqK206 form textarea:focus {
  background-color: #FFFFFF !important;
}
.cid-taHHBqK206 form input:active::-webkit-input-placeholder,
.cid-taHHBqK206 form textarea:active::-webkit-input-placeholder,
.cid-taHHBqK206 form input:focus::-webkit-input-placeholder,
.cid-taHHBqK206 form textarea:focus::-webkit-input-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form input:active::-moz-placeholder,
.cid-taHHBqK206 form textarea:active::-moz-placeholder,
.cid-taHHBqK206 form input:focus::-moz-placeholder,
.cid-taHHBqK206 form textarea:focus::-moz-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form input:active:-moz-placeholder,
.cid-taHHBqK206 form textarea:active:-moz-placeholder,
.cid-taHHBqK206 form input:focus:-moz-placeholder,
.cid-taHHBqK206 form textarea:focus:-moz-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form input:active:-ms-input-placeholder,
.cid-taHHBqK206 form textarea:active:-ms-input-placeholder,
.cid-taHHBqK206 form input:focus:-ms-input-placeholder,
.cid-taHHBqK206 form textarea:focus:-ms-input-placeholder {
  color: #939292;
}
.cid-taHHBqK206 form .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cid-taHHBqK206 form .row [class*=col] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cid-taHHBqK206 form label {
  width: 100%;
  color: #ffffff;
  margin-bottom: 10px;
}
.cid-taHHBqK206 form .form-check-input {
  border-color: rgba(255, 255, 255, 0.25) !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-taHHBqK206 form .form-check-input:focus,
.cid-taHHBqK206 form .form-check-input:hover {
  background-color: transparent !important;
  border-color: #ffffff !important;
}
.cid-taHHBqK206 form .form-check-input:checked {
  border-color: #ffffff !important;
}
.cid-taHGfyiX9g {
  background-color: #212132;
}
.cid-taHGfyiX9g .mbr-fallback-image.disabled {
  display: none;
}
.cid-taHGfyiX9g .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-taHGfyiX9g .content-bg {
  border-top-left-radius: 6.67rem;
  border-top-right-radius: 6.67rem;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: transparent;
  background: #ffdd65;
}
.cid-taHGfyiX9g .container {
  max-width: 1280px;
}
.cid-taHGfyiX9g .row {
  justify-content: center;
}
.cid-taHGfyiX9g .mbr-section-title {
  color: #212132;
}
.cid-taHGfyiX9g .mbr-section-subtitle {
  color: #212132;
  margin-top: 1rem;
}
.cid-tmf2uOUpuY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffdd65;
}
.cid-tmf2uOUpuY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmf2uOUpuY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmf2uOUpuY .container {
  max-width: 1280px;
}
.cid-tmf2uOUpuY .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #212132;
  padding: 4rem;
  border-radius: 4.17rem;
}
@media (max-width: 767px) {
  .cid-tmf2uOUpuY .content-wrapper {
    flex-wrap: wrap;
    padding: 4rem 6vw;
  }
}
.cid-tmf2uOUpuY .text-wrapper {
  width: 70%;
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  .cid-tmf2uOUpuY .text-wrapper {
    width: 100%;
    order: 2;
    margin-bottom: 50px;
  }
}
.cid-tmf2uOUpuY .card-title {
  color: #FFDD65;
}
.cid-tmf2uOUpuY .colored-text {
  line-height: inherit;
  color: inherit;
  color: #ae5eff;
}
.cid-tmf2uOUpuY .mbr-text {
  color: #ffffff;
  margin-top: 24px;
}
@media (max-width: 991px) {
  .cid-tmf2uOUpuY .mbr-text {
    margin-top: 16px;
  }
}
.cid-tmf2uOUpuY .img-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tmf2uOUpuY .img-container {
    order: 1;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 24px;
  }
}
.cid-tmf2uOUpuY .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-tmf2uOUpuY .image-wrapper {
    width: 25%;
  }
}
@media (max-width: 575px) {
  .cid-tmf2uOUpuY .image-wrapper {
    width: 50%;
  }
}
.cid-tmf2uOUpuY .image-wrapper .img-box {
  height: 100%;
}
.cid-tmf2uOUpuY .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tmf2uOUpuY .btn-container {
  width: 70%;
  padding-left: 4rem;
  margin-right: auto;
  margin-top: -3.5rem;
}
@media (max-width: 767px) {
  .cid-tmf2uOUpuY .btn-container {
    padding: 0 6vw;
    width: 100%;
  }
  .cid-tmf2uOUpuY .btn-container .custom-section-btn {
    width: 100%;
  }
  .cid-tmf2uOUpuY .btn-container .btn {
    width: 100%;
  }
}
.cid-tmf20jw6c0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #212132;
}
.cid-tmf20jw6c0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmf20jw6c0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmf20jw6c0 .container {
  max-width: 1600px;
}
.cid-tmf20jw6c0 .row {
  justify-content: left;
}
.cid-tmf20jw6c0 .content-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}
.cid-tmf20jw6c0 .title-container {
  width: 100%;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .cid-tmf20jw6c0 .title-container {
    margin-bottom: 50px;
  }
}
.cid-tmf20jw6c0 .mbr-section-title {
  color: #FFDD65;
}
.cid-tmf20jw6c0 .mbr-section-subtitle {
  color: #FFFFFF;
  margin-top: 1rem;
}
.cid-tmf20jw6c0 .img-container {
  width: 100%;
  max-height: 100vh;
}
@media (max-width: 767px) {
  .cid-tmf20jw6c0 .img-container {
    height: 350px;
  }
}
.cid-tmf20jw6c0 .image-wrapper {
  height: 100%;
  position: relative;
  border-radius: 4.17rem;
  padding: 5px;
  background-image: linear-gradient(135deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8e59ff 99.93%);
}
.cid-tmf20jw6c0 .image-wrapper .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4.17rem;
  background-image: linear-gradient(135deg, #ffdd65 2.76%, #ffaa5c 29.66%, #ff49c0 61%, #8e59ff 99.93%);
  -webkit-filter: blur(1rem);
  filter: blur(1rem);
}
.cid-tmf20jw6c0 .image-wrapper .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;
  border-radius: 3.85rem;
  overflow: hidden;
  height: 100%;
}
.cid-tmf20jw6c0 .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-taHKOAC06v {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
.cid-taHKOAC06v .container {
  max-width: 1472px;
}
.cid-taHKOAC06v .mbr-text {
  color: #FFFFFF;
}
